*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  padding: 20px;
}
main{
  max-width: 1000px;
  padding: 10px;
  margin: 0 auto ;
}
img{
  max-width: 100%;
}
header{
  display: flex;
  justify-content: space-between;
}
header a{
  text-decoration: none;
  margin-bottom: 50px;
}
header a.logo{
  font-weight: bold;
}
header nav{
  display: flex;
  gap: 10px;
}
.posts{
  display: flex;
  flex-direction: column;
  gap:50px;
}
div .post
{
  display: grid;
  grid-template-columns: 0.8fr 1.2fr 1fr;
}
div .post a
{
  font-size: xx-large;
  text-decoration: none;
  font-weight: bold;
  color: #222;
}
div .post p,img{
  margin: 10px;
}
div .post p{
  font-size: 1.2rem;
}